name: End-to-end tests
on: push
permissions:
  contents: read
  actions: read
  checks: write
  pull-requests: read
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [1,2]
        
    env:
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          spec: |
            cypress/e2e/spec.cy.js
            cypress/e2e/testes-api.cy.js
          parallel: true
          record: true
          group: 'Cypres Tests'

      - name: Upload performance metrics
        uses: actions/upload-artifact@v4
        with:
          name: performance-metrics
          path: performance-metrics.json
    
      #- name: Upload Cypress videos
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: cypress-videos
      #    path: cypress/videos/**/*.mp4